.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-top: 150px;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.gridItem {
    background-color: #4D79CE;
    height: 200px; /* Adjusted for content */
    box-sizing: border-box;
    border: 2.5px solid black;
    padding: 10px; /* Add some padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.itemImage {
    max-width: 100%; /* Ensures the image doesn't overflow the grid item */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between the image and the text */
}

.itemName,
.itemQuantity {
    color: white; /* Text color */
    margin: 5px 0; /* Spacing for text */
}
