@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.itemName,
.itemQuantity,
.deleteButton,
.addButton {
	font-family: 'Roboto', sans-serif;
}

.outerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 60px;
	padding-top: 40px;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 120px;
	width: 100%;
	justify-content: center;
}

.boxHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	& > p {
		font-size: 36px;
		margin: 0;
	}
}

.folderOverlayEditMode {
	background-color: #fb9c9c !important;
}

.gridItemEditMode {
	&:hover > *:not(.deleteButton) {
		filter: blur(2px);
		cursor: auto !important;
	}

	&:hover {
		.deleteButton {
			visibility: visible;
			animation: fadeIn 0.15s ease forwards;
		}
	}
}

.noShow {
	visibility: hidden !important;
}

.deleteButton {
	visibility: hiden;
	z-index: 10000;
	position: absolute;
	bottom: 50%;
	height: 8%;
	width: 34%;
	font-size: 20px !important;
	display: flex;
	justify-content: center;
	background-color: #d9534f;
	align-items: center;
	border-radius: 5px;
	opacity: 0;
	border: none;
	color: white;

	&:hover {
		cursor: pointer;
		background-color: #c9302c;
	}
}

.iconImage {
	height: 75%;
	padding-right: 10px;
}

.addButtonActive {
	background-color: #fb9c9c !important;
}

.addButton {
	padding: 10px 20px;
	background-color: #dab892;
	cursor: pointer;
	border: none;
	font-size: 24px;
	height: 8vh;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;

	&:hover {
		background-color: #fb9c9c;
	}
}

.goBackButton {
	padding-left: 15px;
	margin-right: 185px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 24px;
	height: 6vh;
	width: 50px;
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 15px;

	img {
		margin-right: 10px;
	}
}

// .goBackButton {
//   cursor: pointer;
//   border: none;
//   font-size: 24px;
//   left: 0;
//   width: 3vw !important;
//   background-color: transparent;
//   height: 6vh;
//   width: 250px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.container {
	height: 100%;
	position: relative;
}

.closeSection {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #e69340;

	&:hover {
		cursor: pointer;
	}
}

.filterMode {
	top: 50%;
	transform: translateY(-50%);
	position: fixed;
	width: 0%;
	padding-right: 30px;
	height: 15%;
	background-color: #e69340;
	left: 0;
	z-index: 10000;
	transition: width 0.5s ease;
	overflow: hidden;
}

.expandFilter {
	width: 18%;
	height: 100% !important;
	transform: none !important;
	top: 0 !important;
}

.addFolderBtn {
	display: flex;
	justify-content: center !important;
	font-size: 58px;
	opacity: 0.5;
}

.gridContainer {
	margin-top: 40px;
}

.gridItem {
	background-color: #dab892;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 65vh;
	transition: transform 0.3s;
	border-radius: 5px !important;
	& > img {
		border-radius: 5px !important;
	}
}

.folderNameOverlay {
	width: 100%;
	background-color: #fff5f5;
	opacity: 0.97;
	height: 25%;
	bottom: 0;
	z-index: 1000;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	padding-bottom: 20px;

	* > p {
		text-align: center;
		font-size: 1.6rem;
	}

	& > p {
		text-align: center;
		font-size: 1.2rem;
		margin: 0;
		margin-bottom: 10px;
	}

	* > i {
		font-size: 1.1rem;
	}
}

.itemImage {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.itemName,
.itemQuantity {
	word-wrap: break-word;
	max-width: 100%;
}
