.leftNav {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 250px; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #f0f0f0; /* Subtle background color */
    border-right: 2px solid #d0d0d0; /* Right border for visual separation */
  }  
  
  .folderTitle {
    font-size: 20px; /* Moderate big text */
    margin-bottom: 20px;
  }
  
  .searchBar {
    margin-bottom: 20px;
  }
  
  .newFolderButton {
    margin-bottom: 20px;
  }
  
  .filterButtonContainer {
    margin-top: auto; /* Places the filter button at the bottom */
  }
  