.body {
	padding: 12px 42px;

	& > p {
		font-size: 16px;
	}

	a {
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}
}

.username,
.password {
	font-size: 18px;
	input {
		background-color: #e4e4e4;
		border-radius: 6px;
		padding-left: 12px;
		border: 2px #838383 solid;
		width: 100%;
		height: 36px;
	}
}

.forgotPasswordModal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 512px;
	height: 468px;
	background-color: white;
	border-radius: 40px;
}

.closeIcon {
	position: absolute;
	right: 25px;
	top: 25px;
	cursor: pointer;
	color: white;
}


.modalHeader {
	position: relative;
	width: 100%;
	height: 76px;
	background-color: #6a4b4b;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	h1 {
		padding: 0;
		margin: 0;
		color: #ffffff;
	}
}

.button {
	background-color: #6a4b4b;
	border-radius: 6px;
	color: #ffffff;
	width: 100px;
	height: 40px;
	margin-top: 36px;
	margin-bottom: 12px;

	&:hover {
		cursor: pointer;
	}
}

.signInErr {
	color: red;
	position: absolute;
	padding: 12px 0px;
	margin: 0;
}
