.body {
	padding: 12px 42px;

	& > p {
		font-size: 16px;
	}

	a {
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}
}

.button {
	background-color: #6a4b4b;
	border-radius: 6px;
	color: #ffffff;
	width: 100px;
	height: 40px;
	margin-top: 36px;
	margin-bottom: 12px;

	&:hover {
		cursor: pointer;
	}
}